
    <h1>
        <i class="fas fa-folder"></i> Orders
    </h1>


<section class="order-list">
    <div *ngFor="let customer of customers">
        <h2>{{ customer.First_Name }} {{ customer.Last_Name }}</h2>
        <div class="order-details">
            <ul>
                <li *ngFor="let order of customer.orders">
                    <span>{{ order.product }}</span>
                    <span class="price">{{ order.Price }}</span>
                </li>
            </ul>
            <hr>
            <div class="total">
                Total: {{ getTotalOrderAmount(customer) }}
            </div>
        </div>
    </div>
</section>