<h1 style="color: black; display: inline-block;">
    <img src="https://p7.hiclipart.com/preview/201/51/681/computer-icons-customer-service-user-others.jpg" alt="Icon" style="margin-right: 10px; width: 32px; height: 32px;"> <!-- Image -->
    Customers
</h1>
<br><br>
<nav style="display: inline-block; margin-left: 20px;">
    <ul style="list-style-type: none; margin: 0; padding: 0;">
      <li style="display: inline-block; margin-right: 30px;" [class.active]="!isListViewActive" (click)="toggleListView()">
            <i class="fas fa-th-large"></i> Card View
    </li>
    <li style="display: inline-block; margin-right: 30px;">
          <i class="fas fa-list-ul"></i> List View
  </li>
        <li style="display: inline-block; margin-right: 30px;">
          <i class="fas fa-map-marked-alt"></i> Map View
        </li>
        <li style="display: inline-block; margin-right: 30px;">
          <i class="fas fa-user-plus"></i> <a routerLink="/add-customer">New Customer</a></li>
        <li style="display: inline-block;">
            <div style="position: relative;">
                <input type="text" placeholder="Search" style="padding: 5px; padding-left: 30px;"  [(ngModel)]="searchTerm">
                <i class="fas fa-search" style="position: absolute; top: 50%; left: 10px; transform: translateY(-50%);"></i>
            </div>
        </li>
    </ul>
</nav>
<br><br>
 <div *ngIf="!isListViewActive" class="card-container">
  <div class="card" *ngFor="let customer of paginatedCustomers | cardSearch: searchTerm">
      <div class="card-header">
          {{ customer.First_Name }} {{ customer.Last_Name }}
          <div class="edit-icon">
            <i class="fas fa-edit"></i>
        </div>
      </div>
      <div class="card-body">
        <div class="icon-left">
          <!-- Colored image (icon) for male -->
          <img src="https://icon2.cleanpng.com/20180411/hvw/kisspng-computer-icons-user-profile-info-5acde51e767424.2347347315234429744852.jpg" alt="Male Icon" class="customer-icon">
      </div>
      <div class="content-right">
          <p>City: {{ customer.City }}</p>
          <p>State: {{ customer.State }}</p>
          <p><a href="javascript:void(0)" (click)="showOrderDetails(customer)">View Orders</a></p>
        </div>
      </div>
  </div>
</div>

  <div class="pagination" *appPagination="currentPage; firstIndex: firstIndex; lastIndex: lastIndex">
    <button (click)="goToFirstPage()" [disabled]="currentPage === 0"><<</button>
    <ng-container *ngFor="let page of getVisiblePages()">
      <button (click)="goToPage(page)" [class.active]="currentPage === page">{{ page + 1 }}</button>
    </ng-container>
    <button (click)="goToLastPage()" [disabled]="currentPage === totalPages - 1">>></button>
    </div>

<br><br>
  <div *ngIf="selectedCustomer" class="order-details">
    <h2>Orders for {{ selectedCustomer.First_Name }} {{ selectedCustomer.Last_Name }}</h2>
    <ul>
        <li *ngFor="let order of selectedCustomer.orders">
            Product: {{ order.product }}, Price: {{ order.Price }}
        </li>
    </ul>
    <p>Total Order Amount: {{ getTotalOrderAmount(selectedCustomer) }}</p>
</div> 